@use "variables";

@use "nav";
@use "main";
@use "projects";
@use "contact";
@use "headings";
@use "extended";

.see_more {
  text-decoration: none;
  div {
    color: variables.$light-green;
    border: 1px solid variables.$light-green;
    border-radius: 0.25rem;
    padding: 1.25rem 1.75rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3rem 0;
    font-family: monospace;
  }
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-family: "Inter", "sans-serif";
  //   outline: 1px solid variables.$light-green;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
}

html {
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

body {
  background-color: variables.$green;
}
marquee {
  color: variables.$white;
}

.side {
  padding: 0px 10px 0px 10px;
  width: 30px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  left: 0;
  a {
    font-size: 25px;
    text-decoration: none;
    color: variables.$grey;
    transition: 0.3s ease-in-out;
    &:hover {
      color: variables.$light-green;
      transform: scale(1.2);
    }
  }
  .line {
    margin-top: 10px;
    width: 2px;
    height: 150px;
    background-color: #fff;
  }
}

.right {
  height: 100%;
  z-index: 1;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: variables.$grey;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: variables.$light-green;
    }
  }
  .line {
    margin-top: 10px;
    width: 2px;
    height: 160px;
    background-color: #fff;
  }
}

@media (min-width: 1024px) {
  .master-body {
    display: flex;
    .right,
    .side {
      display: flex;
      padding: 4rem;
      .side-content,
      .right-content {
        position: fixed;
        bottom: -50px;
        line-height: 4rem;
      }
      .right-content {
        line-height: 1rem;
      }
    }
  }
}
