* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

body {
  background-color: #041b15;
}

nav {
  padding: 1rem 1.7rem;
  background: #041b15;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}
nav img {
  height: 3rem;
  aspect-ratio: 1;
}
nav button {
  width: 65px;
  height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #60f7d2;
  border: 1px solid #60f7d2;
  background-color: inherit;
  margin-right: 20px;
}
nav button:hover {
  background-color: #0e3229;
}
nav .hamburger .bar {
  width: 35px;
  height: 3px;
  margin: 6px;
  transition: 0.4s ease-in;
  background-color: #60f7d2;
}
nav .hamburger[aria-expanded=true] .bar1 {
  transform: rotateZ(45deg) translateY(12px);
}
nav .hamburger[aria-expanded=true] .bar2 {
  opacity: 0;
}
nav .hamburger[aria-expanded=true] .bar3 {
  transform: rotateZ(-45deg) translateY(-12px);
}
nav .nav-wrapper {
  position: absolute;
  right: 0;
  top: 100px;
  height: 100vh;
  padding: 0 100px;
  background-color: #112240;
  transition: 0.4s ease-in;
  transform: translateX(100%);
}
nav .nav-wrapper[data-visible=true] {
  transform: translateX(0%);
}
nav .nav-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  height: 100%;
}
nav .nav-wrapper ul li {
  list-style-type: none;
}
nav .nav-wrapper ul li a {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #8892b0;
  transition: color 0.3s ease-in-out;
}
nav .nav-wrapper ul li a:hover {
  color: #60f7d2;
}
nav .nav-wrapper ul li a:target {
  border: 1px solid red;
}
nav .nav-wrapper ul li span {
  color: #60f7d2;
  width: 1em;
  margin-right: 5px;
}

.side {
  padding: 0px 10px 0px 10px;
  width: 30px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  left: 0;
}
.side a {
  font-size: 25px;
  text-decoration: none;
  color: #8892b0;
  transition: transform 0.3s ease-in-out;
}
.side a:hover {
  color: #60f7d2;
  transform: scale(1.2);
}
.side .line {
  margin-top: 10px;
  width: 2px;
  height: 150px;
  background-color: #fff;
}

.right {
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.right a {
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #8892b0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: color 0.3s ease-in-out;
}
.right a:hover {
  color: #60f7d2;
}
.right .line {
  margin-top: 10px;
  width: 2px;
  height: 160px;
  background-color: #fff;
}

main {
  padding-top: 150px;
  padding-inline: 1.7rem;
}
main h2 {
  font-size: 1rem;
  color: #60f7d2;
  font-weight: 700;
  font-family: "monospace", "SpaceMono", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main h1 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #ccd6f6;
}
main h3 {
  color: #8892b0;
  font-size: 2rem;
}
main p {
  color: #8892b0;
  font-size: 0.9rem;
}

#work {
  text-align: center;
  margin: 150px auto;
  width: 90%;
  height: 100vh;
}
#work h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: #ccd6f6;
  text-transform: capitalize;
}
#work h1 .hline {
  margin: 10px 0px 0px 20px;
  height: 1px;
  width: 250px;
  background-color: #fff;
}
#work button {
  margin: 50px auto;
  width: 100px;
  height: 7%;
  background-color: transparent;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
  border: 1px solid #60f7d2;
}
#work button a {
  text-decoration: none;
  color: #8892b0;
}
#work button:hover {
  background-color: #0e3229;
  color: #ccd6f6;
}
#work .work-wrapper {
  margin: 50px 0px 0px 0px;
  width: 100%;
  gap: 10%;
}
#work .work-wrapper .each-work {
  width: 40%;
  height: 320px;
  background-color: #112240;
}
#work .work-wrapper .each-work:hover {
  filter: grayscale(0.4);
}
#work .work-wrapper .each-work h1 {
  color: #ccd6f6;
  font-size: 25px;
}
#work .work-wrapper .each-work h1 i {
  margin-left: 10px;
  font-size: 17px;
  color: #8892b0;
  transition: color 0.3s ease-in-out;
}
#work .work-wrapper .each-work h1 i:hover {
  color: #60f7d2;
}
#work .work-wrapper .each-work span {
  font-size: 35px;
}
#work .work-wrapper .each-work .fa-html5 {
  color: red;
}
#work .work-wrapper .each-work .fa-css3 {
  color: blue;
}
#work .work-wrapper .each-work .fa-sass {
  color: pink;
}
#work .work-wrapper .each-work .imgdv img {
  width: 100%;
}

.contact {
  height: 50vh;
  width: 80%;
  margin: 280px auto;
  text-align: center;
  line-height: 40px;
}
.contact h5 {
  color: #60f7d2;
  text-transform: capitalize;
  font-size: 20px;
}
.contact h1 {
  font-size: 47px;
  color: #ccd6f6;
  text-transform: capitalize;
}
.contact p {
  color: #8892b0;
}
.contact form input {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  border-radius: 2%;
  color: #8892b0;
  font-size: 18px;
  padding-left: 10px;
}
.contact form button {
  background: transparent;
  border: 1px solid #60f7d2;
  height: 40px;
  width: 75px;
  margin-top: 20px;
  border-radius: 2px;
  transition: background-color 0.5s ease-in-out;
}
.contact form button:hover {
  background-color: #0e3229;
}
.contact form .mess {
  height: 200px;
}

.about {
  width: 80%;
  margin: 50px auto 40px auto;
  height: 100vh;
}
.about h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: #ccd6f6;
  text-transform: capitalize;
}
.about h1 .hline {
  margin: 10px 0px 0px 20px;
  height: 1px;
  width: 250px;
  background-color: #fff;
}
.about .pmg .ps p {
  width: 70%;
  color: #8892b0;
  font-size: 20px;
  margin-top: 20px;
}
.about .pmg .ps p span {
  color: #60f7d2;
}
.about .pmg .ps .tech {
  margin-top: 20px;
}
.about .pmg .ps .tech h5 {
  color: #8892b0;
  text-transform: uppercase;
  font-size: 20px;
}
.about .pmg .ps .tech ul li {
  list-style-image: none;
  color: #8892b0;
  font-size: 20px;
  text-transform: uppercase;
}
.about .pmg .img img {
  width: 220px;
  height: 270px;
}

#exp {
  margin: 50px auto;
  width: 80%;
}
#exp h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: #ccd6f6;
  text-transform: capitalize;
}
#exp h1 .hline {
  margin: 10px 0px 0px 20px;
  height: 1px;
  width: 250px;
  background-color: #fff;
}
#exp p {
  margin: 40px auto 0px auto;
  font-size: 20px;
  color: #8892b0;
  width: 80%;
}/*# sourceMappingURL=style.css.map */