// colors

$green: #041b15;

$light-green: #60f7d2;
$lighter-green: #0e3229;
// $green:black;
// $light-green:#fff;
$grey: #8892b0;
$white: #ccd6f6;
$blue: #112240;
$nav_menu_bg: #112240;

// fonts
$intro_text: 1rem;
$name_text: 2rem;
$description_text: 0.9rem;

//paddings
$nav_padding: 1rem 1.7rem;
